<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="methods">
<listeners>
 <listener class-name="com.facebook.listeners.SuiteListener"></listener>
 <listener class-name="com.facebook.listeners.ReportListener"></listener>
</listeners>
  <test thread-count="3" name="Test" parallel="methods">
    <classes>
      <class name="com.facebook.tests.FacebookRegister"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
